.App {
  text-align: center;
}

header{
  font-size: xx-large;
  margin: 25px 0px;
}

.form-fields{
  color:rgb(135, 136, 135);
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: 30px;
  margin: auto;
  border-radius: 30px;
  padding:15px;
  background-color: rgb(236, 236, 236);
}

.form-fields>input{
  border-radius: 30px;
  padding:10px;
}

.submit-input{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

table {
  margin: 5%;
  width: 100%; /* Set the table width to 100% of its container */
  /* border-collapse: collapse;  */
}

th, td {
  padding: 8px; /* Add padding to the table cells */
  text-align: left; /* Align the content of cells to the left */
  border-bottom: 1px solid #ddd; /* Add a bottom border to the cells */
}

th {
  background-color: #e8dfdf; /* Set a background color for the table header cells */
}

.container {
  display: flex;
  justify-content: space-around;
} 